<section class="container mx-auto my-auto bg-gray-700">
  <header class="flex items-center justify-center gap-2">
      <span class="text-black font-bold">
        Angular Anti Corruption Pattern Signals
      </span>
      <mat-icon>leak_remove</mat-icon>
  </header>
  <main>
    <button mat-button (click)="onSubmit()">
      Ver post
    </button>
    <mat-card appearance="outlined">
      <mat-card-title>
        {{ titlePost() }}
      </mat-card-title>
      <mat-card-content>
        {{ bodyPost() }}
      </mat-card-content>
    </mat-card>
  </main>
</section>
